
#searchbar {
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    padding: 10px;
    width: 500px;
    height: 23px;
    font: Arial;
    font-size: 18px;
    background-color:transparent;
    color:rgba(0,0,0,.87);
    word-wrap:break-word;
}

#searchbar:focus {
  outline: none;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

#searchbar:hover {
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.searchbutton {
  border-radius: 8px;
  padding: 7px 40px;
  font: Arial;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border: none;
  background-color: #F0F0F0;
  color: #808080;
  outline: none;
}

.searchbutton:hover {
  color: #080808;
  cursor: pointer;
}

.horizontal {
  text-align: center;
  padding-top: 30px;
}

.horizontal img {
  padding-top: 170px;
  width: 500px;
}
