
#searchbar {
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    padding: 10px;
    width: 500px;
    height: 43px;
    font: Arial;
    font-size: 18px;
    background-color:transparent;
    color:rgba(0,0,0,.87);
    word-wrap:break-word;
}

#searchbar:focus {
  outline: none;
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

#searchbar:hover {
  -moz-box-shadow: 1px 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px 1px #ccc;
}

.searchbutton {
  padding: 7px 40px;
  font: Arial;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  background-color: #d9d9d9;
  color: #555555;
  /* outline: none; */
  border-radius: 8px;
}

.searchbutton:hover {
  color: #000000;
  cursor: pointer;
}

.horizontal {
  text-align: center;
  padding-top: 30px;
}

.horizontal img {
  padding-top: 170px;
  width: 500px;
}

@media only screen and (max-width: 767px){
  #searchbar {
    width: 85%;
    height: 600%;
    font-size: 600%;
    margin-top: 5%;
  }

  .searchbutton {
    font-size: 400%;
    margin-top: 5%;
  }

  .horizontal img {
    padding-top: 50%;
    width: 95%;
  }
}
